doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/13.png')
  
    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1
    

    .bar-long.none
    
    .scroll__menu.none
      .container

    
    .right__menu.none
      a.close(href='javascript:;')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    

                
                
    header.none
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo_w.svg', alt='logo_w')
              
            ul.menu__
              li
                a(href='javascript:;') Option 1
              li
                a(href='javascript:;') Option 2
              li
                a(href='javascript:;') Option 3
              li
                a(href='javascript:;') Option 4
                
                
            a.login(href='javascript:;') Login

                
            a.mobile__(href='javascript:;')
              img.menu__img(src='img/menu.svg', alt='menu')

          
    section.section__.home__1
      .container
        .row
          .col.m12.s12.l12.xl8
            h1 Lorem ipsum sit amet, consectetur
            p.slag Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non arcu vehicula et pellentesque. Et luctus at phasellus velit accumsan et.
            .bottom
              a.orange(href='javascript:;') Start free trial
              a.border_orange(href='javascript:;') Learn more

    section.section__.home__2
      .container
        .row
          .col.m12.s12.l4.xl4
            .box__img
              img.search__img(src='img/search_w.svg', alt='search')
              
            h3 Morbi quam semper mauris
            p At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.
          
          .col.m12.s12.l4.xl4
            .box__img
              img.search__img(src='img/search_w.svg', alt='search')
              
            h3 At sit tristique tincidunt cursus
            p At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.
            
          .col.m12.s12.l4.xl4
            .box__img
              img.search__img(src='img/search_w.svg', alt='search')
              
            h3 Adipiscing tempus malesuada
            p At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.
            
        .row
          .col.m12.s12.l12.xl12
            h2 Growing a Business Should Not Be a Mystery
            p.slag Without the practical skills you need to grow a business and advance your career, it’s going to cost you…
          
            
        .row
          .col.m12.s12.l12.xl12
            ul.list
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel.
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel.
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel.
              
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel.
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel.
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel.
                
          .col.m12.s12.l12.xl12
            p You don’t have to fake it till you make it. Join Business Made Simple and get everything you need to become a competent professional who doesn’t just sound like they understand business -- you’ll actually know how a business works and how to grow it.
            
            a.orange(href='javascript:;') Primary action
            
            
            
    section.section__.home__3
      .container
        .row
          .col.m12.s12.l4.xl4
            h2 Stakes Section
          
          
          .col.m12.s12.l8.xl8
            h3 Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum ponderum. 
            
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper condimentum pellentesque ac nunc mauris. Ipsum metus nullam pulvinar adipiscing elementum nunc laoreet odio. Egestas eget commodo sit eu. Dignissim sagittis arcu neque tincidunt ipsum. Elit tortor ornare pharetra ultrices est, vitae. Nulla lorem tempus, aliquam convallis id morbi faucibus pellentesque. Arcu sit consectetur sit tellus. 
            
            a.orange(href='javascript:;') Primary action
            
            
    section.section__.home__4
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 Ways to get results
          
        .row
          .col.m6.s12.l4.xl4
            .box__
              .images
                img.images(src='img/home__4_img_1.pmg', alt='home__4_img_1')
              h3 Massa cursus.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa sem eleifend leo etiam. Urna nec blandit suscipit etiam praesent nulla. Adipiscing lobortis commodo non cras consequat. Tincidunt.
              
          .col.m6.s12.l4.xl4
            .box__
              .images
                img.images(src='img/home__4_img_2.pmg', alt='home__4_img_2')
              h3 Pellentesque leo.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa sem eleifend leo etiam. Urna nec blandit suscipit etiam praesent nulla. Adipiscing lobortis commodo non cras consequat. Tincidunt.
              
          .col.m6.s12.l4.xl4
            .box__
              .images
                img.images(src='img/home__4_img_3.pmg', alt='home__4_img_3')
              h3 Pulvinar feugiat.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa sem eleifend leo etiam. Urna nec blandit suscipit etiam praesent nulla. Adipiscing lobortis commodo non cras consequat. Tincidunt.
              
          .col.m6.s12.l12.xl12
            a.orange(href='javascript:;') Primary action
            
          
        .row
          .col.m6.s12.l12.xl12
            .slider__4
              div
                .content
                  .description
                    .data 26/04/2022
                    h4 Upcoming live events
                    
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus nec massa, eu, mi, rutrum ultrices. Vitae id magna nibh purus velit egestas. Diam viverra malesuada euismod sed enim. Adipiscing blandit etiam id in auctor. Sit elementum consectetur ipsum nam nam. Velit hac scelerisque pulvinar proin mattis est, vitae et magna. Mauris nibh fusce consequat tempus imperdiet sodales vitae adipiscing. 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus nec massa, eu, mi, rutrum ultrices. Vitae id magna nibh purus velit egestas. Diam viverra malesuada euismod sed enim. 
                  
            
    section.section__.home__5
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 Different Areas of SFQ
            
            ul.list
              li
                a Porttitor nunc nibh vestibulum
                
                
                
            
    section.section__.home__6
      .container
        .row
          .col.m12.s12.l12.xl6
            h2 Different Areas of SFQ
            
            ul.list
              li
                a Porttitor nunc nibh vestibulum
                    
          .col.m12.s12.l12.xl6
            p Different Areas of SFQ
            


   

    footer
      .container
        .row
          .col.m12.s12.l12.xl12



                  
    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
          
          
    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });
        
        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });
        
      });


